<div class="users form">
<?php echo $this->Session->flash('auth'); ?>
<?php echo $this->Form->create('User'); ?>
    <!--fieldset>
        <legend>
            <?php //echo __('Please enter your username and password'); ?>
        </legend>
        
    </fieldset-->
    
    
    <style type="text/css">
        #login_form{
            /*background-image:url("../img/style/fondo_login.png");*/
            background: rgba(218, 208, 208, 0.41);
            width:457px;
            height:256px;
            margin: auto;
            /*background-size: contain;
            background-repeat: no-repeat;*/
            border-radius: 10px;
        }
    </style>
    <div id="login_form">
        <div style="text-align: center;/*font-family: 'Times New Roman';*/font-size: 30px;padding-top: 15px;letter-spacing:-2;">
            Bienvenido
        </div>
        <div style="text-align: center;padding-top: 40px;">
            <?php echo $this->Form->input('username',array('label'=>'','placeholder'=>'Usuario')); ?>
            <?php echo $this->Form->input('password',array('label'=>'','placeholder'=>'Contraseña','style'=>'margin-top: 10px;')); ?>
            <input type="submit" class="btn btn-danger" style="margin-top: 20px;" value="Iniciar sesión" />
        </div>
    </div>
    
<?php echo $this->Form->end(__('')); ?>
</div>

