<div class="uploads form">
<?php echo $this->Form->create('Upload',array('type' => 'file')); ?>
	<fieldset>
		<legend style="color:grey;">Cargue de archivos de hojas de vida</legend>
	<?php
		//echo $this->Form->input('user_id');
		//echo $this->Form->input('platform_id');
		echo $this->Form->input('file_name',array('type' => 'file',
													'label'=> '','class'=>'form-control'));
		//echo $this->Form->input('size');
		//echo $this->Form->input('records');
		//echo $this->Form->input('errors');
		//echo $this->Form->input('susses');
		//echo $this->Form->input('part_file');
		//echo $this->Form->input('total_files');
	?>
		<br/>
	  	<div class="row">
                <div class="col-md-12">
                    <button style="width: 155px;" class="btn btn-danger" type="submit">
                      CARGAR <span class="glyphicon glyphicon-cloud-upload"></span>
                    </button>
                </div>
        </div>


	</fieldset>
<?php echo $this->Form->end(__('')); ?>
</div>
<!--div class="actions">
	<<h3><?php //echo __('Actions'); ?></h3>
	<ul>

		<li><?php //echo $this->Html->link(__('List Uploads'), array('action' => 'index')); ?></li>
		<li><?php //echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php //echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php //echo $this->Html->link(__('List Platforms'), array('controller' => 'platforms', 'action' => 'index')); ?> </li>
		<li><?php //echo $this->Html->link(__('New Platform'), array('controller' => 'platforms', 'action' => 'add')); ?> </li>
		<li><?php //echo $this->Html->link(__('List Uploadlogs'), array('controller' => 'uploadlogs', 'action' => 'index')); ?> </li>
		<li><?php //echo $this->Html->link(__('New Uploadlog'), array('controller' => 'uploadlogs', 'action' => 'add')); ?> </li>
	/ul>>
</div-->
