
<style type="text/css" media="screen">

	.text_rotate{
		font-size: 13px;
		font-weight: normal;
		background-color: transparent !important;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);

	}
	a{
		color:red;
	}
	a:hover{
		color: #a00707;
		text-decoration: none;
	}
	
</style>
<div class="uploads index">
	<span style="color:grey;font-size: 21px;">Archivos Cargados</span>
	<br/><br/>
	<table cellpadding="0" cellspacing="0" class="table table-striped">
	<tr style="background-color:#f9f9f9">
			<th><?php echo $this->Paginator->sort('Usuario'); ?></th>
			<th><?php echo $this->Paginator->sort('Pataforma'); ?></th>
			<th><?php echo $this->Paginator->sort('Nombre archivo'); ?></th>
			<th class="text_rotate"><?php echo $this->Paginator->sort('Tamaño'); ?></th>
			<th class="text_rotate"><?php echo $this->Paginator->sort('Registros'); ?></th>
			<th class="text_rotate"><?php echo $this->Paginator->sort('Errores'); ?></th>
			<th class="text_rotate"><?php echo $this->Paginator->sort('Aciertos'); ?></th>
			<th class="text_rotate"><?php echo $this->Paginator->sort('Partes'); ?></th>
			<th class="text_rotate"><?php echo $this->Paginator->sort('Archivos'); ?></th>
			<th><?php echo $this->Paginator->sort('Fecha Carga'); ?></th>
			<th><?php echo $this->Paginator->sort('Fecha Precesamiento'); ?></th>
			<th class="actions"><?php echo __('Acciones'); ?></th>
	</tr>
	<?php foreach ($uploads as $upload): ?>
	<tr>
		<td><?php echo h($upload['User']['username']); ?>&nbsp;</td>
		<td><?php echo h($upload['Platform']['name']); ?>&nbsp;</td>
		<td><?php echo h($upload['Upload']['file_name']); ?>&nbsp;</td>
		<td><?php echo h($upload['Upload']['size']); ?>&nbsp;</td>
		<td><?php echo h($upload['Upload']['records']); ?>&nbsp;</td>
		<td><?php echo h($upload['Upload']['errors']); ?>&nbsp;</td>
		<td><?php echo h($upload['Upload']['susses']); ?>&nbsp;</td>
		<td><?php echo h($upload['Upload']['part_file']); ?>&nbsp;</td>
		<td><?php echo h($upload['Upload']['total_files']); ?>&nbsp;</td>
		<td><?php echo h($upload['Upload']['created']); ?>&nbsp;</td>
		<td><?php echo h($upload['Upload']['modified']); ?>&nbsp;</td>
		<td class="actions" style="text-align:center;">
			<?php //echo $this->Html->link(__('Ver'), array('action' => 'view', $upload['Upload']['id'])); ?>
			<?php //echo $this->Html->link(__('Editar'), array('action' => 'edit', $upload['Upload']['id'])); ?>
<<<<<<< HEAD
			<?php if($upload['Upload']['records']==null){ ?>
				<?php echo $this->Form->postLink("<span class='glyphicon glyphicon-remove' style='color:red;'></span>", array('action' => 'delete', $upload['Upload']['id']), array('escape' => false),array(), __('Esta seguro de borrar el archivo %s?', $upload['Upload']['file_name'])); ?>
			<?php } ?>
=======
			<?php echo $this->Form->postLink("<span class='glyphicon glyphicon-trash' style='color:red;'></span>", array('action' => 'delete', $upload['Upload']['id']), array('escape' => false),array(), __('Esta seguro de borrar el archivo %s?', $upload['Upload']['file_name'])); ?>
>>>>>>> c4b380a10e54007badb572b144429c7b599124f1
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Página {:page} de {:pages}, Mostrando {:current} registros de {:count} total, iniciando en {:start} registros, finalizando en {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev("<span class='glyphicon glyphicon-arrow-left' style='margin-right: 10px;'></<span>", array('escape' => false), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next("<span class='glyphicon glyphicon-arrow-right' margin-left: 10px;></<span>", array('escape' => false), array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<!--div class="actions">
	<<h3><?php //echo __('Actions'); ?></h3>
	<ul>
		<li><?php //echo $this->Html->link(__('New Upload'), array('action' => 'add')); ?></li>
		<li><?php //echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php //echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php //echo $this->Html->link(__('List Platforms'), array('controller' => 'platforms', 'action' => 'index')); ?> </li>
		<li><?php //echo $this->Html->link(__('New Platform'), array('controller' => 'platforms', 'action' => 'add')); ?> </li>
		<li><?php //echo $this->Html->link(__('List Uploadlogs'), array('controller' => 'uploadlogs', 'action' => 'index')); ?> </li>
		<li><?php //echo $this->Html->link(__('New Uploadlog'), array('controller' => 'uploadlogs', 'action' => 'add')); ?> </li>
	</ul>>
</div-->
