<div class="resumechecks index">
	<h2><?php echo __('Resumechecks'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('resume_id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('send_notified'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($resumechecks as $resumecheck): ?>
	<tr>
		<td><?php echo h($resumecheck['Resumecheck']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($resumecheck['Resume']['id'], array('controller' => 'resumes', 'action' => 'view', $resumecheck['Resume']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($resumecheck['User']['id'], array('controller' => 'users', 'action' => 'view', $resumecheck['User']['id'])); ?>
		</td>
		<td><?php echo h($resumecheck['Resumecheck']['send_notified']); ?>&nbsp;</td>
		<td><?php echo h($resumecheck['Resumecheck']['created']); ?>&nbsp;</td>
		<td><?php echo h($resumecheck['Resumecheck']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $resumecheck['Resumecheck']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $resumecheck['Resumecheck']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $resumecheck['Resumecheck']['id']), array(), __('Are you sure you want to delete # %s?', $resumecheck['Resumecheck']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Resumecheck'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Resumes'), array('controller' => 'resumes', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Resume'), array('controller' => 'resumes', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
