<br>
<br>
<br clear="all">

	<div class="row">
		<div class="span8">
			<h2><b>TODO:</b> Realizar el home de la app </h2>
		</div>
		<div class="span4">
				<h2><b>TODO:</b> Realizar el home de la app </h2>
		</div>
	</div>
